{% extends 'layouts/base.html' %}
{% block content_guest %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow">
      <div class="card-body p-4">
        <h5 class="mb-3">Set new password</h5>
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.password2.label(class="form-label") }}
            {{ form.password2(class="form-control") }}
          </div>
          {{ form.submit(class="btn btn-primary") }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
