{% extends 'layouts/base.html' %}
{% block content %}
<h4 class="mb-3">New user</h4>
<form method="post" class="card shadow-sm p-4">
  {{ form.hidden_tag() }}
  <div class="row g-3">
    <div class="col-md-4">{{ form.username.label(class="form-label") }}{{ form.username(class="form-control") }}</div>
    <div class="col-md-4">{{ form.email.label(class="form-label") }}{{ form.email(class="form-control") }}</div>
    <div class="col-md-4">{{ form.full_name.label(class="form-label") }}{{ form.full_name(class="form-control") }}</div>
    <div class="col-md-4">{{ form.role_id.label(class="form-label") }}{{ form.role_id(class="form-select") }}</div>
    <div class="col-md-4">{{ form.password.label(class="form-label") }}{{ form.password(class="form-control") }}</div>
  </div>
  <p class="small text-muted mt-2">Leave password blank to use temporary <code>ChangeMe123!</code></p>
  <div class="mt-3">{{ form.submit(class="btn btn-primary") }}
    <a class="btn btn-link" href="{{ url_for('admin.users') }}">Cancel</a>
  </div>
</form>
{% endblock %}
